---
title: Downloading or Creating Windows Stemcells
owner: Windows
---

This topic describes how to download or create the stemcell that Pivotal Application Service (PAS) for Windows needs to create VMs on an infrastructure.

## <a id="stemcell"></a> Windows Stemcells

BOSH needs a stemcell to supply the basic operating system for any new Windows 2016 server VMs it creates. Depending on your IaaS, you can create or download a stemcell as follows:

* **AWS**: Download the **AWS light Stemcell for Windows 2016 Server** from the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

* **Azure**: Create a stemcell by following the directions in [Create an Azure Stemcell](#azure) below.

* **GCP**: Download the **GCP light Stemcell for Windows 2016 Server** from the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

* **AWS**: Download the **AWS light Stemcell for Windows 2016 Server** from the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

* **vSphere**: Create a stemcell by following the directions in [Creating a vSphere Stemcell by Hand](https://github.com/cloudfoundry-incubator/bosh-windows-stemcell-builder/wiki/Creating-a-vSphere-Stemcell-by-Hand).

## <a id="azure"></a> Create an Azure Stemcell

On Azure you can create a PAS for Windows stemcell from the Azure Light Stemcell metadata file, which the Azure cloud stores in a public directory. Using this file makes it unnecessary to upload a stemcell manually.

### <a id="download"></a> Download the Azure Light Stemcell

To download the Azure light stemcell, perform the following steps:

1. Navigate to [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).
2. Select **Azure Light Stemcell for Windows2016** from the **Release Download Files** section of the Stemcells for PCF (Windows) page.

To start using the Azure light stemcell, perform the steps in the [Enable the Azure Light Stemcell](#use) and [Configure Resources](#req) sections.

### <a id="use"></a> Enable the Azure Light Stemcell

To use the Azure light stemcell, you must first accept the corresponding license agreement and enable the stemcell for your non-trial Azure subscription through the Azure marketplace as follows:

1. Navigate to [https://portal.azure.com](https://portal.azure.com) and log in.
1. From the options on the left side of the page, click **+ New**.
1. In the **Search the marketplace** bar, search for **BOSH Azure Windows Stemcell**.
1. Select **BOSH Azure Windows Stemcell** from your search results. A description of the BOSH Azure Windows Stemcell appears. 
1. Below the description, at the bottom of the page, click the blue banner that reads **Want to deploy programmatically? Get started ➔**.
1. Review the Terms of Use.
1. Under **Choose the subscriptions**, click **Enable** for each Azure subscription with which you want to use the stemcell.
1. Click **Save**.

### <a id="req"></a>Configure Resources

When you deploy or upgrade PAS for Windows on Azure, configure the resources of the BOSH Director and PAS for Windows as follows:

1. On the Ops Manager Installation Dashboard, select **PAS for Windows**.
1. In the **Settings** tab, select **Resource Config**.
1. In the **VM Type** field, ensure that **Windows Diego Cell** has a disk size of 128&nbsp;GB or larger.
1. Ensure that **Install HWC Buildpack Errand** has a VM disk size of 128&nbsp;GB or larger.
	<%= image_tag('tile-resource-config.png') %>
1. Navigate to the **BOSH Director**.
1. In the **Settings** tab, select **Resource Config**.
1. In the **VM Type** field, ensure that the Ops Manager compilation VM has an ephemeral disk of 128&nbsp;GB or larger.
	<%= image_tag('ops-man-resources.png') %>

For information about how to deploy and configure the PAS for Windows tile, see [Installing and Configuring PAS for Windows](./installing.html).
