<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>

  <div class="nav-content">
    <ul class="menu">

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Pivotal Application Service (PAS) for Windows
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li>
              <a href="/windows/index.html">Pivotal Application Service (PAS) for Windows</a>
            </li>
            <li>
              <a href="/windows/architecture.html">Product Architecture</a>
            </li>
            <li>
              <a href="../../platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/pcf-release-notes/windows-rn.html">PAS for Windows v<%= product_info['local_product_version'].to_s %> Release Notes</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          PAS for Windows Operator Guide
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="">
              <a href="/windows/stemcells.html">Downloading or Creating Windows Stemcells</a>
            </li>
            <li>
              <a href="/windows/installing.html">Installing and Configuring PAS for Windows</a>
            </li>
            <li class="">
              <a href="/windows/upgrade-windows.html">Upgrading Windows Cells</a>
            </li>
            <li>
              <a href="/windows/troubleshooting.html">Troubleshooting PAS for Windows</a>
            </li>

          </ul>
        </div>
      </li>

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Developer Guide
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li>
              <a href="/windows/using.html">Using PAS for Windows</a>
            </li>
            <li>
              <a href="/windows/migrating.html">Migrating Apps to PAS for Windows</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->


