---
title: Product Architecture
owner: Windows
---

This topic describes the architecture of Windows cells that PAS for Windows deploys to run containerized .NET apps, and the stemcells that it supplies to BOSH as the operating system for the Windows cell VMs.

## <a id='overview'></a>Overview

Operators who want to run Windows cells in PCF to enable developers to push .NET apps can deploy the PAS for Windows tile.

Deploying this tile creates a separate BOSH deployment populated with the Garden Windows release, which runs on a Windows cell built from a Windows stemcell.

Once the Windows cell is running, developers can specify a Windows stack when pushing .NET apps from the command line. PCF passes the app to the Windows cell in the PAS for Windows BOSH deployment. The diagram below illustrates the process.

<%= image_tag('windows-overview.png') %>

## <a id="cells"></a> About Windows Cells

App instances in PCF run inside containers. [Garden](https://docs.pivotal.io/pivotalcf/concepts/architecture/garden.html) is the API that creates and manages these containers. An implementation equivalent to that on Linux cells provides this infrastructure on Windows cells, utilizing native Windows Server Containers.

By installing the [PAS for Windows](installing.html) tile, operators create a Windows [cell](https://docs.pivotal.io/pivotalcf/concepts/architecture/index.html#diego-cell) from a [stemcell](https://bosh.io/docs/stemcell.html) that contains the Windows Server operating system. Garden on Windows uses [Windows Containers](https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/) to isolate resources on Windows cells that Cloud Foundry manages alongside Linux cells.

### <a id="components"></a> Components

A Windows cell includes the following components:

* Guardian: Implements the [Garden](https://docs.pivotal.io/pivotalcf/concepts/architecture/garden.html) API on Windows
* [Metron Agent](https://docs.pivotal.io/pivotalcf/concepts/diego/diego-architecture.html#metron-agent): Forwards app logs, errors, and metrics to the [Loggregator](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html) system
* [BOSH Agent](https://bosh.io/docs/bosh-components.html#agent): Executes instructions from the BOSH Director
* [Consul Client](https://docs.pivotal.io/pivotalcf/concepts/diego/diego-architecture.html#consul): Registers the cell as a service in a Consul cluster
* [Diego Rep](https://docs.pivotal.io/pivotalcf/concepts/diego/diego-architecture.html#rep): Runs and manages [Tasks and Long Running Processes](https://docs.pivotal.io/pivotalcf/concepts/diego/diego-auction.html#processes)

The following diagram illustrates the architecture of a Windows cell:

<%= image_tag('windows-cell.png') %>

### <a id="container"></a> Container Implementation

Garden on Windows uses the following runtime plugins to create and manage [Windows Containers](https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/) for PAS:

- Container plugin `winc`: Creates [OCI](https://www.opencontainers.org)-compliant containers, executes processes in the containers, and sets their CPU and RAM limits.
- Network plugin `winc-network`: Creates a network compartment for the container, applies its DNS settings, and defines its inbound/outbound network access rules.
- Rootfs image plugin `groot`: Sets up the container filesystem volume and uses the [FSRM](https://docs.microsoft.com/en-us/windows-server/storage/fsrm/fsrm-overview) API to define its disk usage quotas.

## <a id="stemcells"></a> About Windows Stemcells

A "stemcell" is a customized operating system image containing the filesystem for BOSH-managed virtual machines. When deployed, the operating system includes the _BOSH Agent_ process, which is dedicated to communicating with the orchestrating VM, the _BOSH Director_.
The BOSH Agent executes and monitors BOSH jobs on its VM.

Deployments of Windows Server on PCF currently use a stemcell containing Windows Server, version 1803.

See [Downloading or Creating Windows Stemcells](./stemcells.html) for documentation about how to obtain or create a stemcell for PAS for Windows.
