---
title: Developing and Deploying .NET Apps
owner: Windows
---

This topic lists resources for .NET app developers.

For general information about app deployment, see [Deploy an Application](../devguide/deploy-apps/deploy-app.html).

## <a id='dotnet-core'></a>.NET Core Buildpack

[.NET Core Buildpack](../buildpacks/dotnet-core/index.html) describes how to push Cloud Foundry
apps using the .NET Core buildpack. For supported ASP.NET Core versions, see
[.NET Core buildpack release notes](https://github.com/cloudfoundry/dotnet-core-buildpack/releases)
in GitHub.

## <a id='hwc'></a>HWC Buildpack

[HWC Buildpack](../buildpacks/hwc/index.html) describes how to configure your .NET Framework apps
for use with the HWC buildpack and how to push your .NET Framework apps to
<%= vars.product_windows_full %>.

## <a id='binary'></a>Binary Buildpack

[Binary Buildpack](../buildpacks/binary/index.html) describes how to deploy .NET Core apps to a Windows stack using the binary buildpack.

[Console Applications](https://dotnet-cookbook.cfapps.io/headless/console_app/) in the
_.NET Cookbook_ provides information about pushing .NET Console apps using the binary buildpack.

## <a id='tips'></a>Other Resources

[Tips for .NET Developers](./using.html) lists resources for developing .NET apps that run on
Pivotal Application Service (PAS) for Windows, and describes how to push .NET apps to PAS for
Windows cells.

[.Net Cookbook](https://dotnet-cookbook.cfapps.io/intro/) provides guidelines, samples, and
procedures, including tips and recipes for developing .NET apps to run on PAS for Windows.
