---
title: Installing and Configuring PASW
owner: Windows
---

This topic describes how to install and configure the Pivotal Application Service for Windows (PASW) tile. The PASW tile installs Windows Diego Cells in your Pivotal Cloud Foundry (PCF) deployment.

If you have the PASW 2012 R2 tile installed, see [Migrating from PASW 2012 R2 to PASW](./upgrade-2012r2-to-pasw.html) for more information about the changes in features and functionality between the two tile versions.

## <a id='ert'></a> Step 1: Confirm Shared PAS Tile Settings

The PASW tile inherits settings from the Pivotal Application Service (PAS) tile. The PAS tile settings in
this section affect the Windows Diego Cells that the PASW tile deploys.

Review the following settings in your PAS tile. If necessary, update PAS settings to fit your intended
PASW deployment and click **Apply Changes**.

### <a id='disable-ssl'></a>Disable SSL Certificate Verification

In the **Networking** pane, if you select the **Disable SSL certificate verification for this environment** checkbox,
SSL certificate verification is disabled for Windows Diego Cells. For more information, see the [Procedure: Terminate SSL/TLS at HAProxy](../opsguide/ssl-term-haproxy.html#haproxy) section of _Configuring SSL/TLS Termination at HAProxy_.

 <p class="note"><strong>Note</strong>: Only disable SSL certificate verification for development and testing environments. Do not select <strong>Disable SSL certificate verification for this environment</strong> for production environments.</p>

##<a id='install'></a> Step 2: Install the Tile

1. Download the **Pivotal Application Service for Windows** product file from [Pivotal Network](https://network.pivotal.io/products/pas-windows).

1. Within [Pivotal Application Service for Windows](https://network.pivotal.io/products/pas-windows), download the **Windows FS Injector** tool for your workstation OS.<br><br>
The Injector tool, `winfs-injector`, is an executable binary that adds the Windows Server container base image into the product file. This step requires internet access and can take up to 20 minutes.<br>
<p class="note"><strong>Note</strong>: You need the <code>git</code> and <code>tar</code> executables in your <code>%PATH%</code> to run <code>winfs-injector.exe</code>. For example, copy <code>git.exe</code> and <code>tar.exe</code> to a directory in your <code>%PATH%</code>.</p>

1. To add the Windows Server container base image to the product file, run the following command:

    ```shell
    winfs-injector --input-tile PASW-DOWNLOAD-PATH --output-tile PASW-IMPORTABLE-PATH
    ```

    Where:
    * `PASW-DOWNLOAD-PATH` is the path and filename to the PASW product file you downloaded.
    * `PASW-IMPORTABLE-PATH` is the desired output path for the importable product file.

    For example:
    <pre class="terminal">
    C:\Users\admin\> winfs-injector --input-tile ^
    c:\temp\pas-windows-2.3.0-build.1.pivotal ^
    --output-tile c:\temp\pas-windows-2.3.0-build.1-INJECTED.pivotal
    </pre>

    For information about troubleshooting `winfs-injector`, see [Missing Local Certificates for Windows File System Injector](./troubleshooting.html#missing-certs-winfs-issues) in _Troubleshooting Windows Cells_.

1. To enable forwarding BOSH job logs to an external syslog server,
add the following BOSH add-on to a `runtime_config` YAML file:

    ```yaml
    releases:
    - name: windows-syslog
      version: latest

    addons:
    - name: windows-syslog
      include:
        stemcell:
        - os: ((Stemcell OS e.g., windows2019))
      jobs:
      - name: syslog_forwarder_windows
        properties:
          syslog:
            address: ((IP address of the syslog server))
            port: ((Port of the syslog server))
            transport: ((tcp or udp))
            # Optional. If you enabled SSL certificate
            # verification in PAS, you must configure
            # `tls_enabled:` and `ca_cert:`.
            tls_enabled: true
            ca_cert: ((TLS CA certificate of the syslog server))
        release: windows-syslog
    ```

    For more information about BOSH add-ons, see
    [Addons Block](https://bosh.io/docs/runtime-config/#addons) in the BOSH documentation.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product**.

1. To add the PASW tile to the **Import a Product** product list, select the importable `PASW-IMPORTABLE-PATH` file on your workstation.

1. To add the PASW tile to your staging area, click **+** under the **Pivotal Application Service for Windows** product listing.

##<a id='config'></a> Step 3: Configure the Tile

1. Click the newly added **Pivotal Application Service for Windows** tile.

    <%= image_tag('pcf-windows-tile-orange.png') %>

1. Select **Assign AZs and Networks** or **Assign Networks**. The name of the pane varies depending on your IaaS.

1. Assign your AZs and networks and click **Save**.

1. Select **VM Options**.

    <%= image_tag('vm-options.png') %>

1. Select one of the following for **Manage Administrator Password**:
  * To randomize the admin password, select **Use random password**. If you select this option, the admin password is not retrievable by an operator. This is the default selection.
  * To set the same admin password for every Windows Diego Cell, select **Set the password**. If you select this option, this password can be used to access any Windows Diego Cell. For example, you can use this password to open Remote Desktop Protocol (RDP) sessions.

1. (Optional) To start the Microsoft beta port of the OpenSSH daemon on port 22 on all VMs, select the **BETA: Enable BOSH-native SSH support on all VMs** checkbox. If you select this option, users can SSH into Windows VMs with the `bosh ssh` command, and enter a CMD terminal as an admin user. They can then run `powershell.exe` to start a PowerShell session.

    <p class="note"><strong>Note</strong>: This feature is in beta and not considered production-ready.</p>

1. (Optional) To enable all VMs to support connection through RDP, select **Enable Remote Desktop Protocol**.

1. (Optional) To configure a Key Management Service (KMS) that your volume-licensed Windows Diego Cell can register with, do the following:
    1. Select **Enable**.
    2. For the **Host** field, enter the KMS hostname.
    3. For the **Port** field, enter the port number. The default port number is `1688`.

    ![The enable KMS text fields: host and port](enable-kms.png)

1. Click **Save**.

1. (Optional) To deploy your PASW app workloads to an isolation segment, select **Application Containers** and perform the steps in the [Assign a Tile to an Isolation Segment](./isolation.html#assign-isolation) section of _Windows Cells in Isolation Segments_.

1. (Optional) To configure Windows Diego Cells to send Windows Event logs to an external syslog server, select **System Logging** and perform the steps in the [Send Cell Logs to a Syslog Server](./troubleshooting.html#syslog) section of _Troubleshooting Windows Cells_.

1. (Optional) To enable advanced features in PASW,
select **Advanced Features** and do the following:

  1. To configure memory and disk overcommit for your Windows Diego Cells,
  follow the steps below:

      1. Enter the total desired amount of Diego Cell memory in the **Cell Memory Capacity (MB)** field.
      For the current cell memory capacity settings, see the Windows Diego Cell row
      on the **Resource Config** pane.

      1. Enter the total desired amount of Diego Cell disk capacity in the **Cell Disk Capacity (MB)** field.
      For the current cell disk capacity settings, see the Windows Diego Cell row
      on the **Resource Config** pane.
      <p class='note'><strong>Note:</strong> Due to the risk of app failure and the deployment-specific nature of disk and memory use,
      Pivotal has no recommendation about how much, if any, memory or disk space to overcommit.</p>
      <%= image_tag("images/advanced-features.png") %>

  1. Click **Save**.

1. Select **Errands**. To esnure that you receive the most up-to-date HWC buildpack, set the **Install HWC Buildpack Errand** to **On**.

    <%= image_tag('errands-hwc.png') %>

1. Click **Save**.

##<a id='resources'></a> Step 4: Configure Tile Resources

To configure your tile resources, do the following:

1. Navigate to the **Resource Config** pane of the PASW tile.
1. Use the dropdown menus to configure **Windows Diego Cell**.
For more information, see [Disk Size of Windows Diego Cells](#disk) below.
1. Click **Save**.

<p class="note"><strong>Note:</strong> Provision your <strong>Master Compilation Job</strong> with at least 100&nbsp;GB of disk space.</p>

### <a name='disk'></a> Disk Size of Windows Diego Cells

Windows stemcells v1803.2 and later in the 1803 line support ephemeral disks.
If your PASW deployment is based on one of these stemcells,
the recommended disk size for your Windows Diego Cells is as follows:
  <table>
    <tr>
      <th>IaaS</th>
      <th>Recommended Windows Diego Cell Disk Size</th>
    </tr>
    <tr>
      <th>AWS</th>
      <td>100 GB</td>
    </tr>
    <tr>
      <th>Azure</th>
      <td>150 GB</td>
    </tr>
    <tr>
      <th>GCP</th>
      <td>150 GB</td>
    </tr>
    <tr>
      <th>vSphere</th>
      <td>100 GB</td>
    </tr>
  </table>
  <p class='note'><strong>Note:</strong> If you use vSphere, you must create your own stemcell.
  The default root disk size of Windows stemcells v1803.2 and later in the 1803 line is 30 GB.
  Pivotal recommends setting the root disk size of your Windows stemcell for vSphere to 30 GB.
  For more information, see <a href="create-vsphere-stemcell-manually.html">Creating a Windows Stemcell for vSphere Manually</a> or <a href="create-vsphere-stemcell-automatically.html">Creating a Windows Stemcell for vSphere Using stembuild (Beta)</a>.</p>

##<a id='stemcells'></a> Step 5: Upload the Stemcell

1. Go to **Stemcell Library**.

1. Retrieve the stemcell that you downloaded or created in [Downloading or Creating a Windows Stemcell](./stemcells.html).

1. Follow the steps in [Importing and Managing Stemcells](../opsguide/managing-stemcells.html) to upload the Windows stemcell to **Pivotal Application Service for Windows**.

##<a id='deploy'></a> Step 6: Deploy the Tile

1. Return to the Ops Manager Installation Dashboard.
1. Select **Review Pending Changes**.
1. Select the PASW tile and review the changes. For more information, see [Reviewing Pending Product Changes](../customizing/review-pending-changes.html).
1. Select **Apply Changes** to install the **Pivotal Application Service for Windows** tile.

##<a id='copy'></a> Step 7: (Optional) Create More Tiles

To run Windows Diego Cells in multiple isolation segments, you must create and configure additional PASW tiles. For more information, see [Windows Cells in Isolation Segments](./isolation.html).
