---
title: Windows Cells in Isolation Segments
owner: Windows
---



This topic explains how to run Windows cells in isolation segments, which are compartmentalized resource pools for Diego cells.

Cells in one isolation segment share routing, computing, and logging resources with other cells in the same segment, and do not use resources from other isolation segments.

## <a id='prerequisites'></a> Prerequisites

To run a Windows cell in a particular isolation segment, the isolation segment must first already exist in the Cloud Controller Database (CCDB) before the Windows cell can be assigned to it.

To create an isolation segment in the CCDB, see: [Create an Isolation Segment](https://docs.pivotal.io/pivotalcf/adminguide/isolation-segments.html#create-an-is) 
section of the _Managing Isolation Segments_ topic.

##<a id='overview'></a> Overview

To run Windows cells in multiple isolation segments, you need to create and install multiple PAS for Windows tiles and configure each to run in a different isolation segment.

See [Replicate a Tile](#replicate) for how to create multiple copies of the PAS for Windows tile.

See [Assign a Tile to an Isolation Segment](#assign-isolation) for how to associate a PAS for Windows tile with an isolation segment, so that its cells run in that segment.

##<a id='replicate'></a> Replicate a Tile

To make multiple copies of the **PAS for Windows** tile that you can assign to different isolation segments, use the Replicator tool as follows:

1. Download the Replicator tool from the **Pivotal Cloud Foundry Runtime for Windows** section of [Pivotal Network](https://network.pivotal.io/products/pas-windows).

1. Navigate to the directory where you downloaded the Replicator tool.

1. To replicate the tile, run the following command:

    ```shell
    replicator-windows -name "TILE-NAME" -path PATH-TO-ORIGINAL -output PATH-TO-COPY
    ```

    Where:
    * `TILE-NAME` is a unique name for the new PAS for Windows tile. The name must be ten or fewer characters in length and contain only alphanumeric characters, dashes, underscores, and spaces.
    * `PATH-TO-ORIGINAL` is the absolute path to the original `.pivotal` PAS for Windows tile you downloaded from Pivotal Network.
    * `PATH-TO-COPY` is the absolute path for the copy of the `.pivotal` PAS for Windows tile that the Replicator tool produces.
    
    For example:
    <pre class="terminal">
    C:\Users\admin\> replicator-windows -name "Shiny Tile" ^
    -path c:\downloads\TileOriginal.pivotal ^
    -output c:\temp\TileCopy.pivotal
    </pre>

1. Install and configure the Windows isolation segment, using the new `.pivotal` file and following the procedures in this topic, starting with the **Import a Product** step of [Step 2: Install the Tile](#install).

##<a id='assign-isolation'></a> Assign a Tile to an Isolation Segment

To assign a PAS for Windows tile to an isolation segment, perform the following steps:

1. Open the **Application Containers** pane.

    <%= image_tag('app_containers_segment_name.png') %>
1. Under **Segment Name**, enter the name for the isolation segment to associate the tile with. If you are creating a new isolation segment, ensure that this name is unique across your PCF deployment.

1. Click **Save**.