---
title: Downloading or Creating Windows Stemcells
owner: Windows
---

This topic describes how to download or create the stemcell that Pivotal Application Service (PAS) for Windows needs to create VMs on an infrastructure.

## <a id="stemcell"></a> Windows Stemcells

BOSH needs a stemcell to supply the basic operating system for any new Windows Server 2016 VMs it creates. Depending on your IaaS, you can create or download a stemcell as follows:

* **Azure**: [Follow the instructions below](#azure) to activate and download the Azure Windows Stemcell.

* **Google Cloud Platform (GCP)**: Download the **GCP light Stemcell for Windows 2016 Server Version 1709** from the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

* **vSphere**: Create a stemcell by following the directions in [Creating a Windows Stemcell for vSphere Manually](create-vsphere-stemcell.html) or [Creating a Windows Stemcell for vSphere Using stembuild (Beta)](create-vsphere-stemcell-automatically.html).

* **Amazon Web Services (AWS)**: Download the **AWS light Stemcell for Windows 2016 Server Version 1709** from the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

## <a id="azure"></a> Configure the Azure Light Stemcell

On Azure, the stemcell exists as an offering in the Azure Marketplace. To start using the Azure light stemcell, perform the steps in the following sections:

- [Enable the Azure Light Stemcell](#use)
- [Download the Azure Light Stemcell](#download)

### <a id="use"></a> Enable the Azure Light Stemcell

To use the Azure light stemcell, you must first accept the corresponding Microsoft license agreement and enable the stemcell for your non-trial Azure Subscription through the Azure Marketplace as follows:

1. Navigate to [https://portal.azure.com](https://portal.azure.com) and log in.
1. From the options on the left side of the page, click **+ Create a resource**.
1. In the **Search the Marketplace** bar, search for **BOSH Stemcell for Windows Server 1709**.
1. Select **BOSH Stemcell for Windows Server 1709** from your search results. A description of the Azure stemcell offering appears.
1. Below the description, at the bottom of the page, click the blue banner that reads **Want to deploy programmatically? Get started ➔**.
1. Review the Terms of Use in the page "Configure Programmatic Deployment" that appears.
1. Under **Choose the subscriptions**, click **Enable** for each Azure subscription with which you want to use the stemcell.
1. Click **Save**.

### <a id="download"></a> Download the Azure Light Stemcell

To download the Azure light stemcell for use in Ops Manager, perform the following steps:

1. Navigate to [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).
2. Select **Azure Light Stemcell for Windows 2016 Server Version 1709** from the **Release Download Files** section of the Stemcells for PCF (Windows) page.


For information about how to deploy and configure the PAS for Windows tile, see [Installing and Configuring PAS for Windows](./installing.html).
