---
title: Upgrading PAS for Windows and Windows Cells
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the Pivotal Application Service (PAS) for Windows tile and update the Windows stemcell.

For how developers can migrate apps to PAS for Windows from either PAS for Windows 2012R2 or PCF Runtime for Windows, see [Migrating Apps to PAS for Windows](./migrating.html).

## <a id='rotate'></a>Rotating Credentials

The PAS tile handles all of the credentials for PAS for Windows.

To rotate your credentials in PAS for Windows, re-deploy PAS and PAS for Windows by navigating to the Ops Manager Installation Dashboard and clicking **Apply Changes**.

##<a id='upgrade-tile'></a> Upgrade PAS for Windows

To upgrade PAS for Windows:

1. Follow the instructions [Upgrading PCF Products](https://docs.pivotal.io/pivotalcf/customizing/upgrading-products.html#other-products) with the latest PAS for Windows product download from [Pivotal Network](https://network.pivotal.io/products/pas-windows).

1. If necessary, configure the product. For more information about configuring PAS for Windows, see the [Installing and Configuring PAS for Windows](./installing.html) topic.

1. Locate the **Pending Changes** section on the right-hand side of the screen and click **Apply Changes**.

##<a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

1. Retrieve the stemcell by following the steps below for your IaaS:
    * For vSphere, you must build your own stemcell. For more information, see [Creating a Windows Stemcell for vSphere Manually](create-vsphere-stemcell-manually.html) or [Creating a Windows Stemcell for vSphere Using stembuild (Beta)](create-vsphere-stemcell-automatically.html).
    * For AWS, GCP, and Azure, navigate to the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

1. Go to **Stemcell Library**.

1. Click **Import Stemcell** to import the stemcell file.

1. When prompted, enable the Ops Manager product checkbox to stage your stemcell.

1. Click **Apply Stemcell to Products**.

For more information about Windows stemcells, see [Downloading or Creating Windows Stemcells](stemcells.html).

