---
title: Upgrading PAS for Windows and Windows Cells
owner: Greenhouse
---


This topic describes how to upgrade the Pivotal Application Service (PAS) for Windows tile and update the Windows stemcell.

For more information about upgrading the PASW tile from PASW 2012 R2, see [Migrating from PASW 2012 R2 to PASW](./upgrade-2012r2-to-pasw.html).

For information about migrating apps to PASW from either PASW 2012 R2 or PCF Runtime for Windows, see [Migrating Apps to PAS for Windows](./migrating.html).

## <a id='rotate'></a>Rotating Credentials

The PAS tile handles all of the credentials for PAS for Windows.

To rotate your credentials in PAS for Windows, re-deploy PAS and PAS for Windows following the steps below:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click **Review Pending Changes**.
1. Select the PAS and PAS for Windows tiles and review the changes. For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html).
1. Click **Apply Changes**.

##<a id='upgrade-tile'></a> Upgrade PAS for Windows

To upgrade PAS for Windows:

1. Follow the instructions [Upgrading PCF Products](https://docs.pivotal.io/pivotalcf/customizing/upgrading-products.html#other-products) with the latest PAS for Windows product download from [Pivotal Network](https://network.pivotal.io/products/pas-windows).
1. If necessary, configure the product. For more information about configuring PAS for Windows, see the [Installing and Configuring PAS for Windows](./installing.html) topic.
1. Click **Review Pending Changes**.
1. Select the PAS for Windows tile and review the changes. For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html).
1. Click **Apply Changes**.

##<a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

1. Retrieve the stemcell by following the steps below for your IaaS:
    * For vSphere, you must [build your own stemcell](https://github.com/cloudfoundry-incubator/bosh-windows-stemcell-builder/wiki/Creating-a-vSphere-Stemcell-by-Hand).
    * For AWS, GCP, and Azure, navigate to the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

1. Go to **Stemcell Library**.

1. Click **Import Stemcell** to import the stemcell file.

1. When prompted, enable the Ops Manager product checkbox to stage your stemcell.

1. Click **Apply Stemcell to Products**.

For more information about Windows stemcells, see [Downloading or Creating Windows Stemcells](stemcells.html).
