---
title: Upgrading PAS for Windows and Windows Stemcells
owner: Greenhouse
---

This topic describes how to upgrade the Pivotal Application Service (PAS) for Windows tile and update the Windows stemcell.

For more information about upgrading the PASW tile from PASW 2012 R2, see [Migrating from PASW 2012 R2 to PASW](./upgrade-2012r2-to-pasw.html).

For information about migrating apps to PASW from either PASW 2012 R2 or <%= vars.product_name %> Runtime for Windows, see [Migrating Apps to PAS for Windows](./migrating.html).


## <a id='rotate'></a> Rotating Credentials

The PAS tile handles all of the credentials for PAS for Windows.

To rotate your credentials in PAS for Windows, you must re-deploy PAS and PAS for Windows. To re-deploy PAS and PAS for Windows:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**.

1. Select the PAS and PAS for Windows tiles and review the changes. For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/platform/customizing/review-pending-changes.html).

1. Click **Apply Changes**.


## <a id='upgrade-tile'></a> Upgrade PAS for Windows

To upgrade PAS for Windows:

1. Download the latest PAS for Windows version from [Pivotal Network](https://network.pivotal.io/products/pas-windows). For more information about upgrading your <%= vars.product_name %> products, see the [Upgrading <%= vars.product_name %> Products](https://docs.pivotal.io/platform/customizing/upgrading-products.html#other-products) section of the _Upgrading PAS and Other Pivotal Platform Products_ topic.

1. If necessary, configure the product. For more information about configuring PAS for Windows, see [Installing and Configuring PAS for Windows](./installing.html).

1. Click **Review Pending Changes**.

1. Select the PAS for Windows tile and review the changes. For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/platform/customizing/review-pending-changes.html).

1. Click **Apply Changes**.


## <a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

To upgrade your Windows stemcell:

1. Retrieve the stemcell by following the steps below for your IaaS:
    * For vSphere, you must build your own stemcell. For more information, see [Creating a Windows Stemcell for vSphere](https://bosh.io/docs/windows-stemcell-create/) in the BOSH documentation.
    * For AWS, GCP, and Azure, go to [Pivotal Stemcells (Windows)](https://network.pivotal.io/products/stemcells-windows-server) on Pivotal Network.

1. Go to **Stemcell Library**.

1. Click **Import Stemcell** to import the stemcell file.

1. When prompted, enable the Ops Manager product checkbox to stage your stemcell.

1. Click **Apply Stemcell to Products**.

For more information about Windows stemcells, see [Downloading or Creating Windows Stemcells](stemcells.html).
